name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set output
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Generate changelog
        id: create_release
        run: npx changelogithub --draft --name AudioPie-${{ steps.vars.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build Application
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-build
          path: |
            release/**/*.exe
            release/**/*.nupkg
            release/**/*.blockmap
            release/**/*.dmg
            release/**/*.AppImage
            release/**/latest*.yml
  release:
    permissions:
      contents: write
    needs: [create-release, build]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-artifacts

      - name: Upload Release Assets
        run: |
          # Find all artifact files
          find release-artifacts -type f \( -name "AudioPie_*.exe" -o -name "*.nupkg" -o -name "*.blockmap" -o -name "*.dmg" -o -name "*.AppImage" -o -name "latest*.yml" \) | while read file; do
            echo "Uploading $file..."
            gh release upload ${{ github.ref_name }} "$file" --clobber
          done
          
          # Publish the draft release
          gh release edit ${{ github.ref_name }} --draft=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
